// Fonts
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// Colors
$primary: #eef1ef;
$secondary: #003f91;
$accent: #fff;
// Fonts
$font-stack: "Mukta", "Segoe", "Arial", sans-serif;
$fancy-font: "Pacifico";
// List
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
