// Allow the height to properly adapt

.flickity-viewport {
  height: 5rem;
}

// Gallery cells
.gallery-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  width: 5rem;
  height: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

// Arrows
.flickity-prev-next-button {
  background-color: black;
  width: 30px;
  height: 50%;
  border-radius: 5px;

  &:active {
    background-color: $secondary;
  }
  &:hover {
    background-color: $secondary;
  }
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

// Selected Shadow
.gallery-cell.is-selected {
  height: 100%;
  color: white;
  border-radius: 50px;
  background: rgba(0, 63, 145, 0.8);
  border: solid 1px $accent;
}

// Active carousel styles
.flickity-enabled:focus .flickity-viewport {
  background-color: rgba(0, 0, 0, 0.2);
}

// Change the annoying grabby hand
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: pointer;
}
